.container.text-center.mt-5.p-3.pt-5{'data-animate-out': 'animate-slide-out-down', class: 'animate-slide-in-up'}
  %h1 Homepage

  = link_to "Go to Articles", articles_path, class: "btn btn-primary align-self-center animate-slide-in-up"
