.container.text-center.mt-5.p-3.pt-5{ data: {'animate-in': 'animate-slide-in-up', 'animate-out': 'animate-slide-out-down' }}
  %h1 Homepage

  = link_to "Go to Articles", articles_path, class: 'btn btn-primary align-self-center', data: { 'animate-in': 'animate-slide-in-up', 'animate-out': 'animate-slide-out-down' }
