%img{ src: @article.img_url, class: 'show-bg-img', 'data-turbolinks-animate': @article.id, id: @article.name }
.container.show-content-container.text-center.mw-50{ 'data-default-animation': ''}
  %h1.mb-5= @article.name
  %p.w-75.mx-auto= @article.content

.text-center.mt-5
  = link_to 'Edit', edit_article_path(@article)
  \|
  = link_to 'Back', articles_path
