// Animations
.animate-slide-out-down {
  animation: slide-out-down 1s ease;
  animation-fill-mode: forwards;
}
@keyframes slide-out-down {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}

.animate-slide-in-up {
  animation: slide-out-up 1s ease;
}
@keyframes slide-out-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

.animate-fade-in-center {
  animation: fade-in-center 1s ease;
  animation-fill-mode: forwards;
}
@keyframes fade-in-center {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-out-center {
  animation: fade-out-center 1s ease;
  animation-fill-mode: forwards;
}
@keyframes fade-out-center {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

// Custom animations
.animate-to-fullscreen {
  animation: to-fullscreen 1s ease;
  animation-fill-mode: forwards;
}

@keyframes to-fullscreen {
  to {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  }
}
